<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>ADVANCED_TITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
        <dict>
            <key>Title</key>
            <string>EMPTY</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>FooterText</key>
            <string>ENABLE_COLD_WALLET_FOOTER</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>NO</string>
            <key>Key</key>
            <string>enablecoldwallet</string>
            <key>Title</key>
            <string>ENABLE_COLD_WALLET</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        
        <dict>
            <key>Title</key>
            <string>EMPTY</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>FooterText</key>
            <string>ENABLE_ADVANCE_MODE_FOOTER</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>NO</string>
            <key>Key</key>
            <string>enableadvancemode</string>
            <key>Title</key>
            <string>ENABLE_ADVANCE_MODE</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        
        <dict>
            <key>Title</key>
            <string>EMPTY</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSChildPaneSpecifier</string>
            <key>Title</key>
            <string>BLOCKCHAIN_API_TYPE</string>
            <key>File</key>
            <string>Selectcryptocoinblockexplorer</string>
        </dict>
        
        <dict>
            <key>Title</key>
            <string>EMPTY</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>FooterText</key>
            <string>ENABLE_STEALTH_ADDRESS_DEFAULT_FOOTER</string>
            <key>Key</key>
            <string>stealthaddressfooter</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>NO</string>
            <key>Key</key>
            <string>stealthaddressdefault</string>
            <key>Title</key>
            <string>ENABLE_STEALTH_ADDRESS_DEFAULT</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>
        
        <dict>
            <key>Title</key>
            <string>EMPTY</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>FooterText</key>
            <string>ENABLE_CAN_RESTORE_DELETED_APP_FOOTER</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>NO</string>
            <key>Key</key>
            <string>canrestoredeletedapp</string>
            <key>Title</key>
            <string>ENABLE_CAN_RESTORE_DELETED_APP</string>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
        </dict>

	</array>
</dict>
</plist>
