<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>PreferenceSpecifiers</key>
        <array>
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>NO</string>
                <key>Key</key>
                <string>enablepincode</string>
                <key>Title</key>
                <string>ENABLE_PIN_CODE</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>CHANGE_PIN_CODE</string>
                <key>Key</key>
                <string>changepincode</string>
                <key>Type</key>
                <string>IASKButtonSpecifier</string>
            </dict>
            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>NO</string>
                <key>Key</key>
                <string>displaylocalcurrency</string>
                <key>Title</key>
                <string>DISPLAY_LOCAL_CURRENCY</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            
            <dict>
                <key>DefaultValue</key>
                <string>0</string>
                <key>Key</key>
                <string>currency</string>
                <key>Title</key>
                <string>DEFAULT_CURRENCY</string>
                <key>Titles</key>
                <array>
                    <string>DEFAULT_CURRENCY_1</string>
                    <string>DEFAULT_CURRENCY_2</string>
                    <string>DEFAULT_CURRENCY_3</string>
                    <string>DEFAULT_CURRENCY_4</string>
                    <string>DEFAULT_CURRENCY_5</string>
                    <string>DEFAULT_CURRENCY_6</string>
                    <string>DEFAULT_CURRENCY_7</string>
                    <string>DEFAULT_CURRENCY_8</string>
                    <string>DEFAULT_CURRENCY_9</string>
                    <string>DEFAULT_CURRENCY_10</string>
                    <string>DEFAULT_CURRENCY_11</string>
                    <string>DEFAULT_CURRENCY_12</string>
                    <string>DEFAULT_CURRENCY_13</string>
                    <string>DEFAULT_CURRENCY_14</string>
                    <string>DEFAULT_CURRENCY_15</string>
                    <string>DEFAULT_CURRENCY_16</string>
                    <string>DEFAULT_CURRENCY_17</string>
                    <string>DEFAULT_CURRENCY_18</string>
                    <string>DEFAULT_CURRENCY_19</string>
                    <string>DEFAULT_CURRENCY_20</string>
                    <string>DEFAULT_CURRENCY_21</string>
                    <string>DEFAULT_CURRENCY_22</string>
                    <string>DEFAULT_CURRENCY_23</string>
                    <string>DEFAULT_CURRENCY_24</string>
                    <string>DEFAULT_CURRENCY_25</string>
                    <string>DEFAULT_CURRENCY_26</string>
                    <string>DEFAULT_CURRENCY_27</string>
                    <string>DEFAULT_CURRENCY_28</string>
                    <string>DEFAULT_CURRENCY_29</string>
                    <string>DEFAULT_CURRENCY_30</string>
                    <string>DEFAULT_CURRENCY_31</string>
                    <string>DEFAULT_CURRENCY_32</string>
                    <string>DEFAULT_CURRENCY_33</string>
                    <string>DEFAULT_CURRENCY_34</string>
                    <string>DEFAULT_CURRENCY_35</string>
                    <string>DEFAULT_CURRENCY_36</string>
                    <string>DEFAULT_CURRENCY_37</string>
                    <string>DEFAULT_CURRENCY_38</string>
                    <string>DEFAULT_CURRENCY_39</string>
                    <string>DEFAULT_CURRENCY_40</string>
                    <string>DEFAULT_CURRENCY_41</string>
                    <string>DEFAULT_CURRENCY_42</string>
                    <string>DEFAULT_CURRENCY_43</string>
                    <string>DEFAULT_CURRENCY_44</string>
                    <string>DEFAULT_CURRENCY_45</string>
                    <string>DEFAULT_CURRENCY_46</string>
                    <string>DEFAULT_CURRENCY_47</string>
                    <string>DEFAULT_CURRENCY_48</string>
                    <string>DEFAULT_CURRENCY_49</string>
                    <string>DEFAULT_CURRENCY_50</string>
                    <string>DEFAULT_CURRENCY_51</string>
                    <string>DEFAULT_CURRENCY_52</string>
                    <string>DEFAULT_CURRENCY_53</string>
                    <string>DEFAULT_CURRENCY_54</string>
                    <string>DEFAULT_CURRENCY_55</string>
                    <string>DEFAULT_CURRENCY_56</string>
                    <string>DEFAULT_CURRENCY_57</string>
                    <string>DEFAULT_CURRENCY_58</string>
                    <string>DEFAULT_CURRENCY_59</string>
                    <string>DEFAULT_CURRENCY_60</string>
                    <string>DEFAULT_CURRENCY_61</string>
                    <string>DEFAULT_CURRENCY_62</string>
                    <string>DEFAULT_CURRENCY_63</string>
                    <string>DEFAULT_CURRENCY_64</string>
                    <string>DEFAULT_CURRENCY_65</string>
                    <string>DEFAULT_CURRENCY_66</string>
                    <string>DEFAULT_CURRENCY_67</string>
                    <string>DEFAULT_CURRENCY_68</string>
                    <string>DEFAULT_CURRENCY_69</string>
                    <string>DEFAULT_CURRENCY_70</string>
                    <string>DEFAULT_CURRENCY_71</string>
                    <string>DEFAULT_CURRENCY_72</string>
                    <string>DEFAULT_CURRENCY_73</string>
                    <string>DEFAULT_CURRENCY_74</string>
                    <string>DEFAULT_CURRENCY_75</string>
                    <string>DEFAULT_CURRENCY_76</string>
                    <string>DEFAULT_CURRENCY_77</string>
                    <string>DEFAULT_CURRENCY_78</string>
                    <string>DEFAULT_CURRENCY_79</string>
                    <string>DEFAULT_CURRENCY_80</string>
                    <string>DEFAULT_CURRENCY_81</string>
                    <string>DEFAULT_CURRENCY_82</string>
                    <string>DEFAULT_CURRENCY_83</string>
                    <string>DEFAULT_CURRENCY_84</string>
                    <string>DEFAULT_CURRENCY_85</string>
                    <string>DEFAULT_CURRENCY_86</string>
                    <string>DEFAULT_CURRENCY_87</string>
                    <string>DEFAULT_CURRENCY_88</string>
                    <string>DEFAULT_CURRENCY_89</string>
                    <string>DEFAULT_CURRENCY_90</string>
                    <string>DEFAULT_CURRENCY_91</string>
                    <string>DEFAULT_CURRENCY_92</string>
                    <string>DEFAULT_CURRENCY_93</string>
                    <string>DEFAULT_CURRENCY_94</string>
                    <string>DEFAULT_CURRENCY_95</string>
                    <string>DEFAULT_CURRENCY_96</string>
                    <string>DEFAULT_CURRENCY_97</string>
                    <string>DEFAULT_CURRENCY_98</string>
                    <string>DEFAULT_CURRENCY_99</string>
                    <string>DEFAULT_CURRENCY_100</string>
                    <string>DEFAULT_CURRENCY_101</string>
                    <string>DEFAULT_CURRENCY_102</string>
                    <string>DEFAULT_CURRENCY_103</string>
                    <string>DEFAULT_CURRENCY_104</string>
                    <string>DEFAULT_CURRENCY_105</string>
                    <string>DEFAULT_CURRENCY_106</string>
                    <string>DEFAULT_CURRENCY_107</string>
                    <string>DEFAULT_CURRENCY_108</string>
                    <string>DEFAULT_CURRENCY_109</string>
                    <string>DEFAULT_CURRENCY_110</string>
                    <string>DEFAULT_CURRENCY_111</string>
                    <string>DEFAULT_CURRENCY_112</string>
                    <string>DEFAULT_CURRENCY_113</string>
                    <string>DEFAULT_CURRENCY_114</string>
                    <string>DEFAULT_CURRENCY_115</string>
                    <string>DEFAULT_CURRENCY_116</string>
                    <string>DEFAULT_CURRENCY_117</string>
                    <string>DEFAULT_CURRENCY_118</string>
                    <string>DEFAULT_CURRENCY_119</string>
                    <string>DEFAULT_CURRENCY_120</string>
                    <string>DEFAULT_CURRENCY_121</string>
                    <string>DEFAULT_CURRENCY_122</string>
                    <string>DEFAULT_CURRENCY_123</string>
                    <string>DEFAULT_CURRENCY_124</string>
                    <string>DEFAULT_CURRENCY_125</string>
                    <string>DEFAULT_CURRENCY_126</string>
                    <string>DEFAULT_CURRENCY_127</string>
                    <string>DEFAULT_CURRENCY_128</string>
                    <string>DEFAULT_CURRENCY_129</string>
                    <string>DEFAULT_CURRENCY_130</string>
                    <string>DEFAULT_CURRENCY_131</string>
                    <string>DEFAULT_CURRENCY_132</string>
                    <string>DEFAULT_CURRENCY_133</string>
                    <string>DEFAULT_CURRENCY_134</string>
                    <string>DEFAULT_CURRENCY_135</string>
                    <string>DEFAULT_CURRENCY_136</string>
                    <string>DEFAULT_CURRENCY_137</string>
                    <string>DEFAULT_CURRENCY_138</string>
                    <string>DEFAULT_CURRENCY_139</string>
                    <string>DEFAULT_CURRENCY_140</string>
                    <string>DEFAULT_CURRENCY_141</string>
                    <string>DEFAULT_CURRENCY_142</string>
                    <string>DEFAULT_CURRENCY_143</string>
                    <string>DEFAULT_CURRENCY_144</string>
                    <string>DEFAULT_CURRENCY_145</string>
                    <string>DEFAULT_CURRENCY_146</string>
                    <string>DEFAULT_CURRENCY_147</string>
                    <string>DEFAULT_CURRENCY_148</string>
                    <string>DEFAULT_CURRENCY_149</string>
                    <string>DEFAULT_CURRENCY_150</string>
                    <string>DEFAULT_CURRENCY_151</string>
                    <string>DEFAULT_CURRENCY_152</string>
                    <string>DEFAULT_CURRENCY_153</string>
                    <string>DEFAULT_CURRENCY_154</string>
                    <string>DEFAULT_CURRENCY_155</string>
                    <string>DEFAULT_CURRENCY_156</string>
                    <string>DEFAULT_CURRENCY_157</string>
                    <string>DEFAULT_CURRENCY_158</string>
                </array>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Values</key>
                <array>
                    <string>0</string>
                    <string>1</string>
                    <string>2</string>
                    <string>3</string>
                    <string>4</string>
                    <string>5</string>
                    <string>6</string>
                    <string>7</string>
                    <string>8</string>
                    <string>9</string>
                    <string>10</string>
                    <string>11</string>
                    <string>12</string>
                    <string>13</string>
                    <string>14</string>
                    <string>15</string>
                    <string>16</string>
                    <string>17</string>
                    <string>18</string>
                    <string>19</string>
                    <string>20</string>
                    <string>21</string>
                    <string>22</string>
                    <string>23</string>
                    <string>24</string>
                    <string>25</string>
                    <string>26</string>
                    <string>27</string>
                    <string>28</string>
                    <string>29</string>
                    <string>30</string>
                    <string>31</string>
                    <string>32</string>
                    <string>33</string>
                    <string>34</string>
                    <string>35</string>
                    <string>36</string>
                    <string>37</string>
                    <string>38</string>
                    <string>39</string>
                    <string>40</string>
                    <string>41</string>
                    <string>42</string>
                    <string>43</string>
                    <string>44</string>
                    <string>45</string>
                    <string>46</string>
                    <string>47</string>
                    <string>48</string>
                    <string>49</string>
                    <string>50</string>
                    <string>51</string>
                    <string>52</string>
                    <string>53</string>
                    <string>54</string>
                    <string>55</string>
                    <string>56</string>
                    <string>57</string>
                    <string>58</string>
                    <string>59</string>
                    <string>60</string>
                    <string>61</string>
                    <string>62</string>
                    <string>63</string>
                    <string>64</string>
                    <string>65</string>
                    <string>66</string>
                    <string>67</string>
                    <string>68</string>
                    <string>69</string>
                    <string>70</string>
                    <string>71</string>
                    <string>72</string>
                    <string>73</string>
                    <string>74</string>
                    <string>75</string>
                    <string>76</string>
                    <string>77</string>
                    <string>78</string>
                    <string>79</string>
                    <string>80</string>
                    <string>81</string>
                    <string>82</string>
                    <string>83</string>
                    <string>84</string>
                    <string>85</string>
                    <string>86</string>
                    <string>87</string>
                    <string>88</string>
                    <string>89</string>
                    <string>90</string>
                    <string>91</string>
                    <string>92</string>
                    <string>93</string>
                    <string>94</string>
                    <string>95</string>
                    <string>96</string>
                    <string>97</string>
                    <string>98</string>
                    <string>99</string>
                    <string>100</string>
                    <string>101</string>
                    <string>102</string>
                    <string>103</string>
                    <string>104</string>
                    <string>105</string>
                    <string>106</string>
                    <string>107</string>
                    <string>108</string>
                    <string>109</string>
                    <string>110</string>
                    <string>111</string>
                    <string>112</string>
                    <string>113</string>
                    <string>114</string>
                    <string>115</string>
                    <string>116</string>
                    <string>117</string>
                    <string>118</string>
                    <string>119</string>
                    <string>120</string>
                    <string>121</string>
                    <string>122</string>
                    <string>123</string>
                    <string>124</string>
                    <string>125</string>
                    <string>126</string>
                    <string>127</string>
                    <string>128</string>
                    <string>129</string>
                    <string>130</string>
                    <string>131</string>
                    <string>132</string>
                    <string>133</string>
                    <string>134</string>
                    <string>135</string>
                    <string>136</string>
                    <string>137</string>
                    <string>138</string>
                    <string>139</string>
                    <string>140</string>
                    <string>141</string>
                    <string>142</string>
                    <string>143</string>
                    <string>144</string>
                    <string>145</string>
                    <string>146</string>
                    <string>147</string>
                    <string>148</string>
                    <string>149</string>
                    <string>150</string>
                    <string>151</string>
                    <string>152</string>
                    <string>153</string>
                    <string>154</string>
                    <string>155</string>
                    <string>156</string>
                    <string>157</string>
                </array>
            </dict>
            
            <dict>
                <key>DefaultValue</key>
                <string>0</string>
                <key>Key</key>
                <string>bitcoindisplay</string>
                <key>Title</key>
                <string>BITCOIN_DISPLAY</string>
                <key>Titles</key>
                <array>
                    <string>BITCOIN_DISPLAY_1</string>
                    <string>BITCOIN_DISPLAY_2</string>
                    <string>BITCOIN_DISPLAY_3</string>
                </array>
                <key>Type</key>
                <string>PSMultiValueSpecifier</string>
                <key>Values</key>
                <array>
                    <string>0</string>
                    <string>1</string>
                    <string>2</string>
                </array>
            </dict>
        
            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>YES</string>
                <key>Key</key>
                <string>enableAutomacticFee</string>
                <key>Title</key>
                <string>ENABLE_AUTOMATIC_FEE</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            
            <dict>
                <key>Key</key>
                <string>feeamounttitle</string>
                <key>Title</key>
                <string>FEE_AMOUNT_IN_BITCOINS</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Key</key>
                <string>transactionfee</string>
                <key>Type</key>
                <string>PSTitleValueSpecifier</string>
                <key>IASKTextAlignment</key>
                <string>IASKUITextAlignmentCenter</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>SET_TRANSACTION_FEE</string>
                <key>Key</key>
                <string>settransactionfee</string>
                <key>Type</key>
                <string>IASKButtonSpecifier</string>
            </dict>
            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>NO</string>
                <key>Key</key>
                <string>enablesoundnotification</string>
                <key>Title</key>
                <string>ENABLE_SOUND_NOTIFICATION</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
                <key>FooterText</key>
                <string>ENABLE_BACKUP_WITH_ICLOUD_FOOTER</string>
            </dict>
            <dict>
                <key>DefaultValue</key>
                <string>YES</string>
                <key>Key</key>
                <string>enablebackupwithicloud</string>
                <key>Title</key>
                <string>ENABLE_BACKUP_WITH_ICLOUD</string>
                <key>Type</key>
                <string>PSToggleSwitchSpecifier</string>
            </dict>
            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>SHOW_PASSPHRASE</string>
                <key>Key</key>
                <string>showpassphrase</string>
                <key>Type</key>
                <string>IASKButtonSpecifier</string>
            </dict>

            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Title</key>
                <string>RESTORE_WALLET</string>
                <key>Key</key>
                <string>restorewallet</string>
                <key>Type</key>
                <string>IASKButtonSpecifier</string>
            </dict>

            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSChildPaneSpecifier</string>
                <key>Title</key>
                <string>ADVANCED_TITLE</string>
                <key>File</key>
                <string>Advanced</string>
            </dict>
            
            <dict>
                <key>Title</key>
                <string>EMPTY</string>
                <key>Type</key>
                <string>PSGroupSpecifier</string>
            </dict>
            <dict>
                <key>Type</key>
                <string>PSChildPaneSpecifier</string>
                <key>Title</key>
                <string>ARCBIT_CONTRIBUTORS_LIST</string>
                <key>File</key>
                <string>contributors</string>
            </dict>

        </array>
        <key>StringsTable</key>
        <string>Root</string>
        <key>Title</key>
        <string>WhereTo</string>
    </dict>
</plist>
