<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>ADVANCED_TITLE</string>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
        
        <dict>
            <key>Title</key>
            <string>EMPTY</string>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>0</string>
            <key>Key</key>
            <string>bitcoincashdisplay</string>
            <key>Title</key>
            <string>BITCOIN_CASH_DISPLAY</string>
            <key>Titles</key>
            <array>
                <string>BITCOIN_CASH_DISPLAY_1</string>
                <string>BITCOIN_CASH_DISPLAY_2</string>
                <string>BITCOIN_CASH_DISPLAY_3</string>
            </array>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>0</string>
            <key>Key</key>
            <string>bitcoindisplay</string>
            <key>Title</key>
            <string>BITCOIN_DISPLAY</string>
            <key>Titles</key>
            <array>
                <string>BITCOIN_DISPLAY_1</string>
                <string>BITCOIN_DISPLAY_2</string>
                <string>BITCOIN_DISPLAY_3</string>
            </array>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Values</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
        </dict>

	</array>
</dict>
</plist>
